@()

<meta charset="utf-8">
<title>backfog</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="Copyright" content="Copyright Łukasz Dembiński 2015. All Rights Reserved.">

<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:description" content="">
<meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

<!-- styles -->
<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
<link rel="stylesheet" href="@routes.Assets.at("css/font-awesome.css")">

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css" rel="stylesheet">

<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-social.css")">

<link rel="stylesheet" href="@routes.Assets.at("css/custom-styles.css")">
<link rel="stylesheet" href="@routes.Assets.at("css/custom-social.css")">
<link rel="stylesheet" href="@routes.Assets.at("css/loader.css")">

<!-- favicon -->
<link rel="shortcut icon" href="@routes.Assets.at("img/favicon.png")">

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,700italic,400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,100italic,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!-- js -->
<script src="@routes.Assets.at("js/jquery/jquery-1.11.2.min.js")"></script>
<script src="@routes.Assets.at("js/bootstrap/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("js/jquery/jquery.slimscroll.min.js")"></script>
<script src="@routes.Assets.at("js/loader/loading-overlay.min.js")"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
