@()

<div class="navbar navbar-material-grey-900">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="profile">
                <a href="/"><img src="http://www.gravatar.com/avatar/124a3cd7feb8b0b6f35fee17686a511b?s=70" alt="Profile Picture" style="width: 70px;"></a>
            </li>
            <li><a href="http://dembol.org/blog"><i class="fa fa-lg fa-pencil"></i> &nbsp; Blog</a></li>
            <li><a href="/resume.html"><i class="fa fa-lg fa-user"></i> &nbsp; Resume</a></li>
            <li><a href="/life.html"><i class="fa fa-lg fa-rocket"></i> &nbsp; Life</a></li>
            <li><a href="/bookshelf.html"><i class="fa fa-lg fa-book"></i> &nbsp; Bookshelf</a></li>
            <li><a href="https://github.com/dembol"><i class="fa fa-lg fa-github"></i> &nbsp; GitHub</a></li>
            <li><a href="https://twitter.com/demb0l"><i class="fa fa-lg fa-twitter"></i> &nbsp; Twitter</a></li>
        </ul>
    </div>
</div>