@()

<div class="row centered">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="well">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Sign in</legend>
                    <div class="form-group is-empty">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                        <div class="col-lg-10">
                            <input type="email" class="form-control form-control-success" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                        <div class="col-lg-10">
                            <input type="password" class="form-control form-control-success" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTerms" class="col-lg-2 control-label"></label>

                        <div class="checkbox col-lg-10">
                            <label>
                                <input type="checkbox" id="inputTerms"> I accept Terms and Conditions
                            </label>
                        </div>
                    </div>
                </fieldset>

                <button class="btn btn-primary btn-flat"><i class="mdi-navigation-check"></i> Ok
                    <div class="ripple-wrapper"></div>
                </button>
                <button class="btn btn-flat"><i class="mdi-navigation-close"></i> Cancel
                    <div class="ripple-wrapper"></div>
                </button>
            </form>
        </div>
    </div>
</div>