@(msg: String)

<!--Large Well-->
<section id="well">
    <div class="well well-large">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 text-center">
                    <h2>We are sorry! <strng>404 Not Found</strong></h2>
                    <h3>The following address cannot be found.
                        Go to our <a href="/">main page</a> and browse it again.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
